<!DOCTYPE html>
<html>
    <head>
        <!-- Created by WeatherstatsNL at {{%now%}} //-->
        <title> {{%title%}} </title>
        <meta charset="{{%charset%}}">
        <meta name="author" content="{{%author%}}">
        <meta name="viewport" content="{{%viewport%}}">
        <link rel="stylesheet" type="text/css" href="./../../thirdparty/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="./../../thirdparty/css/font-awesome-5.min.css">
        {{%css_files%}}
    </head>
    <body>
        <article class="container-fluid m-3 mx-auto">
          <header class="m-2 p-3">
              <h5>{{%header%}}</h5>
          </header>
          <main class="row text-center m-2">
              {{%main%}}
          </main>
          <footer class="m-2 p-1 text-center text-muted">
            <small>
              {{%footer%}}
            </small>
          </footer>
        </article>

        <script src="./../../thirdparty/js/jquery-3.2.1/slim.min.js"></script>
        <script src="./../../thirdparty/js/popper.min.js"></script>
        <script src="./../../thirdparty/js/bootstrap.js"></script>
        <script src="./../../thirdparty/js/font-awesome-5.min.js"></script>
        {{%script_files%}}
    </body>
</html>
